<!-- <div class="row">
  <div class="col-md-8">
    <div class="card bg-dark">
      <div class="card-header text-white">Progress</div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100" style="width: 65%">
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let activity of Model.Activities" class="list-group-item">
          {{activity}}
        </li>
      </ul>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-8">
      <div class="progress blue">
        <span class="progress-left">
          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar"></span>
        </span>
        <div class="progress-value">90%</div>
      </div>
    </div>

    <script src="components/c3/c3.min.js"></script>
<script src="components/d3/d3.min.js"></script>
<div id="donut-chart-51" class="example-donut-chart"></div>
<div id="donut-chart-52" class="example-donut-chart-right-legend"></div>
<div id="donut-chart-53" class="example-donut-chart-bottom-legend"></div>
<script>
  var c3ChartDefaults = $().c3ChartDefaults();

  var donutData = {
    type : 'donut',
    columns: [
      ['Dogs', 2],
      ['Cats', 2],
      ['Fish', 3],
      ['Hamsters', 1]
    ],
    onclick: function (d, i) { console.log("onclick", d, i); },
    onmouseover: function (d, i) { console.log("onmouseover", d, i); },
    onmouseout: function (d, i) { console.log("onmouseout", d, i); }
  };

  // Donut Chart without Legend
  var donutChartConfig = c3ChartDefaults.getDefaultRelationshipDonutConfig();
  donutChartConfig.bindto = '#donut-chart-51';
  donutChartConfig.tooltip = {show: true};
  donutChartConfig.data = donutData;
  donutChartConfig.size = {
    width: 200,
    height: 171
  };
  donutChartConfig.tooltip = {
    contents: $().pfDonutTooltipContents
  };

  var donutChartNoLegend = c3.generate(donutChartConfig);
  $().pfSetDonutChartTitle("#donut-chart-51", "8", "Animals");

  // Right Legend
  var donutChartRightConfig = c3ChartDefaults.getDefaultRelationshipDonutConfig();
  donutChartRightConfig.bindto = '#donut-chart-52';
  donutChartRightConfig.tooltip = {show: true};
  donutChartRightConfig.data = donutData;
  donutChartRightConfig.legend = {
    show: true,
    position: 'right'
  };
  donutChartRightConfig.size = {
    width: 251,
    height: 161
  };
  donutChartRightConfig.tooltip = {
    contents: $().pfDonutTooltipContents
  };

  var donutChartRightLegend = c3.generate(donutChartRightConfig);
  $().pfSetDonutChartTitle("#donut-chart-52", "8", "Animals");

  // Donut Chart Bottom Legend
  var donutChartBottomConfig = c3ChartDefaults.getDefaultRelationshipDonutConfig();
  donutChartBottomConfig.bindto = '#donut-chart-53';
  donutChartBottomConfig.tooltip = {show: true};
  donutChartBottomConfig.data = donutData;
  donutChartBottomConfig.legend = {
    show: true,
    position: 'bottom'
  };
  donutChartBottomConfig.size = {
    width: 271,
    height: 191
  };
  donutChartBottomConfig.tooltip = {
    contents: $().pfDonutTooltipContents
  };

  var donutChartBottomLegend = c3.generate(donutChartBottomConfig);
  $().pfSetDonutChartTitle("#donut-chart-53", "8", "Animals");
</script>

<div class="list-group col-md-4">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Finished Activities</h4>
    <br>
    <p *ngFor="let activity of Model.Finished" class="list-group-item-text">
      {{activity.UserName}} : {{activity.Text}}
    </p>
  </a>
</div>

<!-- <div class="col-md-4">
    <div class="card">
      <div class="card-header">My Quotes</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let quote of Model.MyQuotes" class="list-group-item">
          {{quote}}
        </li>
      </ul>
    </div>
  </div> -->

<div class="col-md-6 mt-4">
  <div class="card bg-warning">
    <div class="card-header text-white">Tasks</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
</div>